<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>


            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3>Paises y capitales</h3>
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="pais">Pais</label>
                            <input type="text" class="form-control" id="pais" placeholder="Ingrese un pais" #pais>
                        </div>

                        <div class="form-group">
                            <label for="imagenUrl">Capital</label>
                            <input type="text" class="form-control" id="capital" placeholder="Ingrese una capital" #capital>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(pais.value , capital.value)">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <hr class="mb-5">


    <div class="row">
        <app-destino-viaje *ngFor="let d of destinos" [destino]="d"></app-destino-viaje>
    </div>

</div>