<ul class="list-group">
    <li class="list-group-item">
        <div class="card-content">
            <div class="card-img">

                <span><h4>{{destino.pais}}</h4></span>
            </div>
            <div class="card-desc">
                <h6>{{destino.capital}}</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nemo iste accusantium laudantium maiores sit at voluptatem sint temporibus sequi veritatis autem error, consectetur odit qui. Doloribus quae aliquid fuga?</p>
                <a href="#" class="btn btn-card btn-primary">Enviar</a>
            </div>
        </div>
    </li>
</ul>