<div class="container content">
    <div class="row">
        <h1>Lista deseos</h1>
    </div>

    <!--  <app-destino-viaje></app-destino-viaje>-->
    <app-lista-destinos></app-lista-destinos>

</div>